In [3]:
import pandas as pd

In [10]:
df = pd.read_csv(r"C:/Users/jeevitha/OneDrive/Desktop/housepricedata.csv", sep=r"\s+", header=None)

In [12]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

In [13]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
dtype: int64

In [14]:
df.dtypes

0     float64
1     float64
2     float64
3       int64
4     float64
5     float64
6     float64
7     float64
8       int64
9     float64
10    float64
11    float64
12    float64
13    float64
dtype: object

In [15]:
print(df.columns)

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [16]:
df.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'PRICE']

In [17]:
print(df.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'PRICE'],
      dtype='object')

In [18]:
X = df[['RM', 'LSTAT', 'PTRATIO', 'INDUS', 'NOX']]  # Selected features
y = df['PRICE']  # Target variable (House Price)

In [19]:
print(X.shape, y.shape)

(506, 5) (506,)

In [20]:
from sklearn.model_selection import train_test_split

# Split data: 80% for training, 20% for testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print shapes to confirm split
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(404, 5) (102, 5) (404,) (102,)

In [22]:
from sklearn.linear_model import LinearRegression

# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

In [23]:
from sklearn.metrics import mean_squared_error, r2_score

# Calculate Mean Squared Error (MSE) and R² Score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R² Score: {r2}")

Mean Squared Error: 27.16612816589404
R² Score: 0.6295550700486403

In [24]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [25]:
model.fit(X_train_scaled, y_train)
y_pred_scaled = model.predict(X_test_scaled)

In [26]:
mse_scaled = mean_squared_error(y_test, y_pred_scaled)
r2_scaled = r2_score(y_test, y_pred_scaled)

print(f"Improved MSE: {mse_scaled}")
print(f"Improved R² Score: {r2_scaled}")

Improved MSE: 27.166128165894026
Improved R² Score: 0.6295550700486405

In [27]:
import joblib
joblib.dump(model, 'house_price_model.pkl')

['house_price_model.pkl']

In [35]:
import os
os.getcwd()

'C:\\Users\\jeevitha\\house_price_prediction_project'